.footer {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Arial', sans-serif;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 60px 20px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* subtle shadow */
  gap: 20px;
  margin-left: 40px;
  margin-top: 30%;
  margin-bottom: 20px;
  
}

.footer a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #0070f3;
}

.footer-top {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  gap: 40px;
  margin-bottom: 20px;
}

.footer-section {
  margin: 10px 0;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 300px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  margin-left: 75px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  margin-left: 75px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-logo {
  text-align: right;
  
}

.footer-logo img {
  display: block;
  margin-bottom: 5px;
  margin-right: 75px;
  height: 30px;
  width: 20;
}

#res{
    margin-right: 40px;
}
