.syllabus-container {
  max-width: 1200px;
  margin: auto;
  padding: 10px, 20px;
  font-family: Inter, system-ui, sans-serif;
   border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 40px 20px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* subtle shadow */
  gap: 20px;
  margin-left: 40px;
  margin-top: 30%;
  margin-bottom: 20px;
}

.syllabus-section {
  margin-bottom: 36px;
}

.syllabus-section h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
}

.syllabus-links {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}

.syllabus-links li {
  display: inline;
}

.syllabus-links li::after {
  content: " | ";
  color: #aaa;
}

.syllabus-links li:last-child::after {
  content: "";
}

.syllabus-links a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
}

.syllabus-links a:hover {
  color: #000;
  text-decoration: underline;
}
